.form-estilo input, .form-estilo textarea {
    padding-right:30px;
}
.form-estilo input, .form-estilo textarea { 
   
    box-shadow: 0px 0px 10px #ccc, 0 20px 30px #eee inset;
    border-radius:4px;

}
.form-estilo input:focus, .form-estilo textarea:focus {
    background: #fff; 
    border:1px solid #5EA0F2; 
    box-shadow: 0 0 10px #5EA0F2; 
}

.moverIzq{
  margin-left: 15px;
}

#panelTitu{
height:50px;
}

#h5Titu{
margin-top:8px;
}

.desvanecer{
   
    top: 0;
    z-index: 1;
    opacity: 0;
    -webkit-animation: opaco 15s;
    -moz-animation: opaco 15s;
}

@keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@-webkit-keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@-moz-keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

#tablaT2{
  width: 100px;
  height: 100px;
}
#colorInstruccion{
  color:#8E2121;
}

#letrasb{
  font-weight: bolder;
}

 #banner{

  	height:100%;
  	width:100%;
}

li{
  list-style-type: none;
  font-weight: bolder;
}

 .separarcol{
 	margin-bottom: 2px;
 }

 .separar{
  margin-bottom: 25px;
 }

 .separar40{
margin-bottom: 40px;
 }

 #separar{
  margin-bottom: 25px;
 }

.error{
	color:red;
}

#instruccion{
	color: #8E2121;
	font-weight: bolder;
}

#instruccionT1{
    color: #8E2121;
	font-weight: bolder;
    margin-left: -295px;
    margin-top: -7px;
}

#instruccionT2{
    color: #8E2121;
  font-weight: bolder;
  margin-top: -14px;
  margin-left: -377px;
}

.calendario{
  color:#8E2121;
}

.inputplaceholder::-webkit-input-placeholder{ 
  color: #A24040;
  opacity: 0.9;
  font-size: 13px;
}

.fechaplaceholder::-webkit-input-placeholder{ 
  color: #A24040;
  opacity: 0.9;
  font-size: 13px;
}

.btn{
  background-color: #8E2121;
}

#correRes::-webkit-input-placeholder { color: #A24040; opacity: 0.9; font-size: 13px;} /* WebKit */
#correRes::-moz-placeholder { color:; #A24040; opacity: 0.9; font-size: 13px;} /* Firefox 19+ *


